body {
	background-color: black;
	color: #eee;
	font-family: monospace;
	max-width: 100ch;
	padding: 0em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;

	/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container */
	overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;

}

a:hover {
	text-decoration: underline;
}

.post-header > nav {
	display: inline-block;
}

.post-content {
	margin: 1em 0;
	white-space: pre-line;
}

.form-control {
	display: block;
	width: 400px;
}

pre {
	margin: 0;
}

blockquote {
	border-left: 2px solid #a4a4a4;
	padding-left: 16px;
	line-height: 1.6;
	margin: 24px 0;
}

img {
	object-fit: contain;
	max-width: 100%;
	height: auto;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.alert {
	color: #ef8539;
}

.textinput {
	float: left;
	width: 100%;
	min-height: 75px;
	outline: none;
	border: 1px solid grey;
	background-color: #000;
	color: #eee;
	font-family: monospace;
  font-size: 1.25em;
}

.input {
	border: 1px solid grey;
	background-color: #000;
	color: #eee;
	font-family: monospace;
  font-size: 1.25em;
}

/*
Implement this example for inputs
https://stackoverflow.com/a/57886227/13173382

.field{
  position: relative;
  margin-top:20px;
}
input:focus ~ label, input:not(:placeholder-shown) ~ label {
  top:-13px;
  font-size:12px;
}
label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 2px;
  transition: 0.2s ease all;
  font-size: 15px;
}
*/

.btn {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 8px 40px;
	margin: 5px;
  border: 2px solid #fff;
	border-color: #e7e7e7;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
	font-family: monospace;
  font-size: 1.25em;
}

hr {
	border: 1px solid #222;
}
