body {
	background-color: black;
	color: #eee;
	font-family: monospace;
	max-width: 100ch;
	padding: 0em 1em;
  margin: auto;
  line-height: 1.25;
  font-size: 1.25em;
}

a {
	color: #fff;
}

.post-header > nav {
	display: inline-block;
}

.post-content {
	margin: 1em 0;
	white-space: pre-line;
}

.form-control {
	display: block;
	width: 400px;
}

pre {
	margin: 0;
}

textarea {
	height: 150px;
}

blockquote {
	border-left: 2px solid #a4a4a4;
	padding-left: 16px;
	line-height: 1.6;
	margin: 24px 0;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.alert {
	color: #ef8539;
}

.textinput {
	float: left;
	width: 100%;
	min-height: 75px;
	outline: none;
	resize: none;
	border: 1px solid grey;
	background-color: #000;
	color: #eee;
	font-family: monospace;
  font-size: 1.25em;
}

.input {
	/*float: left;*/
	outline: none;
	resize: none;
	border: 1px solid grey;
	background-color: #000;
	color: #eee;
	font-family: monospace;
  font-size: 1.25em;
}

.btn {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 8px 40px;
	margin: 5px;
  border: 2px solid #fff;
	border-color: #e7e7e7;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
	font-family: monospace;
  font-size: 1.25em;
}

/*
Implement this example for textinput
https://stackoverflow.com/a/57886227/13173382
*/